In [17]:
import pandas as pd
df = pd.read_csv('adds.csv')

In [18]:
df.shape

(100, 8)

In [19]:
df.head()

,Unnamed: 0,company,old,title,link,salary,netgross,city
0,0,['UAB „Nordcode technology“'],['prieš 1 d.'],['BUSINESS ANALYST (WEB SYSTEMS)'],['https://www.cvbankas.lt/business-analyst-web...,['3000-4500'],['Neatskaičius mokesčių'],['Vilniuje']
1,1,['UAB „WAAVO“'],['prieš 5 d.'],['Senior PHP programuotojas'],['https://www.cvbankas.lt/senior-php-programuo...,['2000-5000'],['Į rankas'],['Vilniuje']
2,2,['FREDA LEZ'],['prieš 6 d.'],['IT projektų vadovas (-ė) (LEZ)'],['https://www.cvbankas.lt/it-projektu-vadovas-...,['2500-3500'],['Neatskaičius mokesčių'],['Kaune']
3,3,['UAB „Furniture1“'],['prieš 8 d.'],['Junior - Mid FULL STACK developer'],['https://www.cvbankas.lt/junior-mid-full-stac...,['1300-2000'],['Į rankas'],['Vilniuje']
4,4,['UAB „Softemia LT“'],['prieš 14 d.'],['MAINTENANCE ENGINEER'],['https://www.cvbankas.lt/maintenance-engineer...,['1500-2200'],['Į rankas'],['Vilniuje']