In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('adds.csv')

In [14]:
import re

In [3]:
df.head()

,company,old,title,link,salary,netgross,city
0,UAB „Nordcode technology“,prieš 1 d.,BUSINESS ANALYST (WEB SYSTEMS),https://www.cvbankas.lt/business-analyst-web-s...,3000-4500,Neatskaičius mokesčių,Vilniuje
1,UAB „WAAVO“,prieš 5 d.,Senior PHP programuotojas,https://www.cvbankas.lt/senior-php-programuoto...,2000-5000,Į rankas,Vilniuje
2,FREDA LEZ,prieš 6 d.,IT projektų vadovas (-ė) (LEZ),https://www.cvbankas.lt/it-projektu-vadovas-e-...,2500-3500,Neatskaičius mokesčių,Kaune
3,UAB „Furniture1“,prieš 8 d.,Junior - Mid FULL STACK developer,https://www.cvbankas.lt/junior-mid-full-stack-...,1300-2000,Į rankas,Vilniuje
4,UAB „Softemia LT“,prieš 14 d.,MAINTENANCE ENGINEER,https://www.cvbankas.lt/maintenance-engineer-v...,1500-2200,Į rankas,Vilniuje

In [7]:
df['salary']

0       3000-4500
1       2000-5000
2       2500-3500
3       1300-2000
4       1500-2200
          ...
666    3000-10000
667    3000-10000
668    3000-10000
669      800-1000
670     5500-7500
Name: salary, Length: 671, dtype: object

In [12]:
df['minsalary']=''
df['maxsalary']=''

In [13]:
df.head()

,company,old,title,link,salary,netgross,city,minsalary,maxsalary
0,UAB „Nordcode technology“,prieš 1 d.,BUSINESS ANALYST (WEB SYSTEMS),https://www.cvbankas.lt/business-analyst-web-s...,3000-4500,Neatskaičius mokesčių,Vilniuje,,
1,UAB „WAAVO“,prieš 5 d.,Senior PHP programuotojas,https://www.cvbankas.lt/senior-php-programuoto...,2000-5000,Į rankas,Vilniuje,,
2,FREDA LEZ,prieš 6 d.,IT projektų vadovas (-ė) (LEZ),https://www.cvbankas.lt/it-projektu-vadovas-e-...,2500-3500,Neatskaičius mokesčių,Kaune,,
3,UAB „Furniture1“,prieš 8 d.,Junior - Mid FULL STACK developer,https://www.cvbankas.lt/junior-mid-full-stack-...,1300-2000,Į rankas,Vilniuje,,
4,UAB „Softemia LT“,prieš 14 d.,MAINTENANCE ENGINEER,https://www.cvbankas.lt/maintenance-engineer-v...,1500-2200,Į rankas,Vilniuje,,

In [15]:
ranges = '2000-5000'

In [16]:
print(ranges)

2000-5000

In [20]:
pattern = re.compile(r'\*{d}')
lower = pattern.search(ranges)
print(lower.group())

AttributeError: 'NoneType' object has no attribute 'group'